[submodule "cpr"]
	path = cpr
	url = git@github.com:whoshuu/cpr.git
[submodule "mongoose-cpp"]
	path = mongoose-cpp
	url = git@github.com:Gregwar/mongoose-cpp.git
[submodule "SQLiteCpp"]
	path = SQLiteCpp
	url = git@github.com:SRombauts/SQLiteCpp.git
[submodule "engine"]
	path = engine
	url = https://github.com/DEGoodmanWilson/engine.git
